/* 
    reset 
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    general 
*/

:root{
    --header-color: #2D3E50;
    --white-color: #ffffff;
    --gray-color: #888888;
    --avatar-color:#1CBC9C;
    --blue-color: #2D3E50;
    --bg-blue-color:#2D3E50;
}

.header-color{
    background-color: var(--header-color);
    min-height: 70px;
}

.bg-blue-color{
    background-color: var(--bg-blue-color);
}

.bg-white{
    background-color: var(--white-color);
}

.white-color{
    color: var(--white-color);
}

.blue-color{
    color: var(--blue-color);
}

.gray-color{
    color: var(--gray-color);
}

.max-w-300{
    max-width: 300px;
}

.avatar-color{
    background-color: var(--avatar-color);
}

.w-100{
    width: 100%;
}

.line{
    width: 100px;
    height: 5px;
    border-radius: 4px;
}


/* 
    header 
*/


/* 
    main 
*/

/* 
    footer 
*/
