/* 
    reset 
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    general 
*/

:root{
    --header-color: #2D3E50;
    --white-color: #ffffff;
    --gray-color: #888888;
    --avatar-color:#1CBC9C;
}

.header-color{
    background-color: var(--header-color);
    min-height: 70px;
}

.white-color{
    color: var(--white-color);
}

.gray-color{
    color: var(--gray-color);
}

.max-w-300{
    max-width: 300px;
}

.avatar-color{
    background-color: var(--avatar-color);
}

.line{
    font-size: 70px;
}


/* 
    header 
*/


/* 
    main 
*/

/* 
    footer 
*/
